* {
  padding: 0;
  margin: 0;
}

body {
background-image: linear-gradient(#b2dafd, #eaf4fe);
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

header {
width: 94%;
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: normal;
color: #2d3639;
padding: 25px;
gap: 10px;
}

header h2 {
  font-weight: 300;
  color: white;
}

header img {
background-color: #ddecfe;
border-radius: 100%;
border: 5px solid white;
}

.contacts {
background-color: #d2e8ff;
width: 100%;
display: flex;
align-items: center;
justify-content: space-evenly;
padding-top: 5px;
padding-bottom: 5px;
}
.contacts label {
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
font-weight: 500;
}

.contacts label a {
  text-decoration: none;
  color: #2d3639;

  
}

a svg {
color: #1bb7ff;

}

main {
padding: 70px;
display: flex;
font-family: 'gameovercre', sans-serif;
font-style: normal;
color: #2d3639;
width: 60%;
align-items: start;
justify-content: space-around;
}

main div {
padding-left: 70px;
padding-right: 70px;
width: 30%;
}



nav{
  display: flex;
  gap: 55px;
  margin-top: 15px;
}



button {
  font-size: 18px;
  color: #2d3639;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: #2d3639;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -5px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #1bb7ff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.active {
  font-size: 18px;
  color: #2d3639;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}


.active::after {
  content: "";
  pointer-events: none;
  bottom: -5px;
  left: 0%;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1bb7ff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


.conteudo {
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  align-items:center;
}

.conteudo header {
  text-align: center;
  margin-bottom: 20px;
}

.conteudo header img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.conteudo section {
  margin-bottom: 30px;
}

.conteudo article {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.conteudo article h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.conteudo article p {
  margin-bottom: 10px;
  color: #666;
}

.conteudo article table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.conteudo article table th,
.conteudo article table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.conteudo article table th {
  background-color: #f2f2f2;
}

.conteudo article img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.conteudo section:last-of-type {
  text-align: center;
}

.conteudo button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.conteudo button:hover {
  background-color: #0056b3;
}

.conteudo footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
code{
  text-align: start;
}

.conteudo ul {
  padding: 25px;
  text-align: start;
}

#profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#profile img {
  border-radius: 50%;
  margin-right: 20px;
}

#repo-list {
  list-style-type: none;
  padding: 0;
}

#repo-list li {
  background-color: white;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}