* {
  padding: 0;
  margin: 0;
}

body {
background-image: linear-gradient(#b2dafd, #eaf4fe);
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
}

header {
width: 94%;
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: normal;
color: #2d3639;
padding: 25px;
gap: 10px;
}

header h2 {
  font-weight: 300;
  color: white;
}

header img {
background-color: #ddecfe;
border-radius: 100%;
border: 5px solid white;
}

.contacts {
background-color: #d2e8ff;
width: 100%;
display: flex;
align-items: center;
justify-content: space-evenly;
padding-top: 5px;
padding-bottom: 5px;
}
.contacts label {
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
font-weight: 500;
}

.contacts label a {
  text-decoration: none;
  color: #2d3639;

  
}

a svg {
color: #1bb7ff;

}

main {
padding: 70px;
display: flex;
font-family: 'gameovercre', sans-serif;
font-style: normal;
color: #2d3639;
align-items: center;
justify-content: space-around;
}

main div {
padding-left: 70px;
padding-right: 70px;
width: 30%;
}

main div h3 {
color: #1bb7ff;
margin-bottom: 10px;
}

nav{
  display: flex;
  gap: 55px;
  margin-top: 15px;
}



button {
  font-size: 18px;
  color: #2d3639;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: #2d3639;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -5px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #1bb7ff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.active {
  font-size: 18px;
  color: #2d3639;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}


.active::after {
  content: "";
  pointer-events: none;
  bottom: -5px;
  left: 0%;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1bb7ff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}